.check--box{
  display: flex;
  align-items: center;

  input[type='checkbox'], input[type='radio'] {
    width: 20px;
    margin-left: 4px;
    margin-right: 10px;
  }

  input[type='text'], input[type='number'] {
    padding: 8px 24px; 
  }

  .remove-answer{
    margin-left: 10px;
    .svgX {
      width: 10px;
      height: 10px;
    }
  }
}