.add-question {
  width: 100%;
  display: flex;
  flex-direction: column;

  .description {
    color: #999;
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 26px;
  }

  input {
    width: 100%;
  }

  .dropdown {
    position: relative;
    
    &--content {
      position: absolute;
      top:43px;
      width: 150px;
      display: none;
      background: grey;
      border-radius: 6px;
      background: #fff;
      box-shadow: 0 4px 24px -4px rgba(0,0,0,.3);
      color: #000;
      
      .button--box {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 8px 0;
      }

      button {
        padding: 0 8px;
        margin: 0 8px;
        border-radius: 4px;
        line-height: 28px;
        font-size: 16px;
        cursor: pointer;
        transition: all .3s ease;

        &:hover {
          background-color: rgba(26,26,26,.03);
        }
      }
    }

    &--button {
      font-size: 16px;
      width: 116px;
      z-index: 3;
      position: relative;
    }

    &--button-box {
      width: 136px;
      border-radius: 4px;
      padding: 2px 10px;
      border: 1px solid rgba(0,0,0,.1);
      position: relative;
      margin-bottom: 15px;
      
      .arrow {
        width: 10px;
        height: 10px;
        position: absolute;
        top: 50%;
        right: 7px;
        margin-top: -2px;
        color: rgba(51,51,51,.5);
        transition: all .3s;
        cursor: pointer;
        z-index: 1;

        &::before, &::after {
          content: "";
          position: absolute;
          top: calc(50% - 2px);
          height: 1px;
          width: calc(50% + 1px);
          background-color: currentColor;
          margin: auto;
          transition: all .25s;
        }

        &::before {
          left: 0;
          transform: rotate(45deg);
        }

        &::after {
          right: 0;
          transform: rotate(-45deg);
        }
      }
    }

    .anwers-box {
      input {
        padding: 8px 24px;
      }
    }

    &--is_open {
      .dropdown--button-box {       
        .arrow {  
          &::before {
            transform: rotate(-45deg)!important;
          }
  
          &::after {
            transform: rotate(45deg);
          }
        }
      }
    }

    &--is_open .dropdown--content {
      display: block;
    }
  }

  .check--box{
    display: flex;
    align-items: center;

    input[type='checkbox'], input[type='radio'] {
      width: 20px;
      margin-left: 4px;
      margin-right: 10px;
    }
  }

  .anwers-box {
    input {
      padding: 8px 24px;
    }
  }
}