.checkBox{
  display: flex;
  align-items: center;

  input[type='checkbox'], input[type='radio'] {
    width: 20px;
    margin-left: 4px;
    margin-right: 10px;
  }

  input[type='text'], input[type='number'] {
    padding: 8px 24px; 
  }

  .removeAnswer {
    margin-left: 10px;
  }
  .moveBtn {
    width: 22px;
    height: 16px;
    margin-right: 4px;
    margin-left: 7px;
    cursor: grab;

    &:active {
      cursor: grabbing;
    }
  }
  .moveAnswer {
    width: 100%;
    height: 1px;
    display: block;
    background: #979494;
    font-size: 25px;
    transition: all .3s ease;
    position: relative;


    &:before, &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background: #979494;
    }

    &:before {top: 4px;}
    &:after {top: -4px;}

    &:hover {
      color: #000000;
    }
  }
}