.header {
  height: 100px;
  border-bottom: 1px solid rgba(26,26,26,.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;

  &--right {
    display: flex;
    justify-content: space-between;
  }

  .logo {
    width: 64px;
    height: 64px;
  }

  .users-box {
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 270px;

    p {
      margin-right: 4px;
      font-size: 18px;
      font-weight: bold;
      color:#c127ff;
    }
  }

  .user-img {
    width: 64px;
    height: 64px;
  }

  .filter-box {
    cursor: pointer;

    img {
      width: 64px;
      height: 64px;
    }
  }

  .search-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    input {
      height: 40px;
      line-height: 40px;
      padding: 0 32px 0 16px;
      font-size: 18px;
      background: #fff;
      color: #000;
    }

    svg {
      width: 34px;
      height: 34px;
      fill: #333;
      opacity: .15;
   }
  }
}