.root {
  height: calc(80vh - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    max-width: 100%;
  }

  .box {
    text-align: center;
  }

  h1 {
    font-size: 32px;
    font-family: 'Pacifico', cursive;
    margin-bottom: 21px;
  }
  p{
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 20px;
  }

  button {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }
}