.main {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 1500px;
  padding: 0 15px;
  margin: 0 auto;

  .testBox {
    position: relative;
    width: 163px;
    height: 179px;
    border: 1px solid transparent;
    border-radius: 8px;
    transition: all .2s ease;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    margin: 8px 10px;
    cursor: pointer;

    &:hover {
      background: #fff;
      border: 1px solid rgba(0,0,0,.1);
      color: #000;
    }
  }
  .icon {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin: 16px auto 10px;
    position: relative;
    width: 80px;
    height: 66px;
  }

  .link {
    height: calc(100% - 54px);
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
  }

  img {
    height: 64px;
    width: 64px;
  }

  p {
    max-width: 70%;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #333;
    display: inline;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    opacity: .5;
  }
  .deleteTest {
    width: 91.5%;
    height: 36px;
    position: absolute;
    left: 50%;
    bottom: 6px;
    margin-left: -45.75%;
    transition: all .2s ease;
    font-size: 14px;
    text-align: center;
    line-height: 36px;
    background: #fff;
    color: #333;
    border-radius: 4px;

    &:hover {
      background: #f1fbf4;
      color: #28b351;
      opacity: 1;
    }
  }

  .testBox:hover p {
    opacity: 1;
  }
}
