.test {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #fff;
  display: flex;
  padding: 10px 15px;

  &--body {
    width: 100%;
    padding: 8px;
  }
  
  &--controls {
    max-width: 300px;
    width: 100%;
    height: 100%;
    padding: 8px;
    border-left: 1px solid rgba(26,26,26,.05);
  }

  &--title {
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    color: #1a1a1a;
    margin-bottom: 35px;
    text-transform: capitalize;
  }

  .edit-input {
    width: 100%;
    padding: 22px;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 4px;
    margin-bottom: 35px;
  }
}

.question {
  position: relative;
  display: flex;
  flex-direction: column;
  color: #000;
  font-weight: 600;
  width: 100%;
  margin: 0 auto 25px;
  padding: 25px;
  border: 1px solid rgba(26,26,26,.05);
  border-radius: 6px;



  &--title {
    font-size: 18px;
    line-height: 1.2;
    font-weight: bold;
    margin-bottom: 12px;
    padding-right: 45px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(26,26,26, .05);
  }

  .answers--box {
    display: flex;
    align-items: center;
    margin: 6px 0;

    .text {
      line-height: 1.2;
      cursor: pointer;
    }

    input[type="number"] {
      border:1px solid rgba(0,0,0,.1);
      padding:8px 8px;
      border-radius: 4px;
      width: 100%;
      font-size: 16px;
      font-weight: 400;
    }
  }

  
  .check--indicator {
    .radio, .checkbox {
      position: absolute;
      z-index: -1;
      opacity: 0;
    }

    .checkbox + label   {
      height: 25px;
      width: 25px;
      
    }

    .radio + label, .checkbox + label {
      position: relative;
      padding: 0 0 0 35px;
      cursor: pointer;
    }

    .radio + label:before, .checkbox + label:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 18px;
      height: 18px;
      border: 1px solid rgba(142, 142, 142, 0.1);
      border-radius: 50%;
      background: #eee;
    }

    .radio:hover + label:before, .checkbox:hover + label:before {
      background: #ccc;
    }

    .checkbox + label:before{
      border-radius: 0px;
      background-color: #eee;
    }


    .radio + label:after, .checkbox + label:after {
      content: '';
      position: absolute;
      top: 3px;
      left: 3px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: #2196F3;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
      opacity: 0;
      transition: .2s;
    }

    .checkbox + label:after {
      left: 6px;
      top: 2px;
      width: 7px;
      height: 12px;
      border: solid white;
      border-width: 0 3px 3px 0;
      background: transparent;
      box-shadow: none;

      transform: rotate(45deg);
      border-radius: 0px;
    }
    .checkbox:checked + label:before{
      background-color: #2196F3;
    }

    .radio:checked + label:after, .checkbox:checked + label:after {
      opacity: 1;
    }
  }

  .admin--tools{
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 45px;
  }

  .edit {
    width: 22px;
    height: 22px;
    position: relative;

    &::before {
      content: '\270E';
      position: absolute;
      top:0;
      left: calc(50% - 17.41px / 2);
      color: #979494;
      font-size: 22px;
      transition: all .3s ease;
      transform: rotate(82deg);
    }

    &:hover {
      &:before {
        color: #000;
      }
    } 
  }
}
