.test-result{

  .description {
    color: #999;
    margin-bottom: 15px;
    font-size: 78px;
    text-align: center;
  }

  a {
    font-size: 12px;
    text-align: center;
    display: block;
    text-decoration: underline;
  }
}